.activityTitle{
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}

.container{
    margin-top: 60px;
    width: 240px;
    height: 180px;
    border: 2px solid white
}