.cardContainer{
    width: 250px;
    height: 250px;
    /* box-shadow: 3px 3px 5px #0c0c0cb3; */
    border: 2px solid #0F0F0F;
    border-radius: 50px 0px;
    /* background-color: #B4CFB0 */
    
     background-color: #0F0F0F; 
     
}

.card{
  /* padding-top: 30px; */
  /* list-style: none;
  font-size: 0.9rem; */
 
}

.card:hover{
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(0.99);
  box-shadow: yellow;
}

.cardImg{
    /* margin-top: 20px; */
    width: 250px;
    height: 160px;
    border-radius: 50px 0px;
    border: 2px solid white;
}

.name{
 margin-top: 10px;
 color: white;
}

.region{
  color: white;
}

@media (max-width: 560px) {
    .cardImg {
      width: 90%;
      height: 200px;
    }
  }