.cardContainer{
    width: 250px;
    height: 230px;
    box-shadow: 3px 3px 5px #0c0c0cb3;
    border: 2px solid black;
    border-radius: 20px;
    /* background-color:#c0c0ee; */
}

.card{
  padding-top: 30px;
  /* list-style: none;
  font-size: 0.9rem; */
 
}

.cardImg{
    margin-top: 20px;
    width: 100px;
    height: 100px;
}



@media (max-width: 560px) {
    .cardImg {
      width: 90%;
      height: 200px;
    }
  }