

.landingContainer{
  background-image: url('../assets/imageWorld.png');
  /* background-image: url(../assets/3990288.jpg); */
  background-position: center;
  /* background-size: cover; */
  background-repeat: repeat;
   width:100vw;
  height: 100vh; 
  background-color: #0F0F0F;
}


.landingTitle {
  padding: 60px;
  font-size: 4rem;
  color: yellow;
  margin-right: 450px;
  -webkit-text-stroke: 4px black;
  
}

.text {
  /* padding-left: 100px;
  padding-bottom: 50px;
  width: 650px; */
  font-size: 3rem;
  font-weight: bold;
  text-align:center;
  color: yellow;
  -webkit-text-stroke: 3px black;
 
  
}

.landingButton {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonContainer{
padding-top: 90px;
/* margin-right: 450px; */
margin-bottom: auto;

}


.landingButton:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.landingButton:active {
  transform: translateY(-1px);
}
