.paginationContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 7vh;
}

.pagination {
  padding: 0;
  margin-bottom: 30px;
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.num {
  background-color: #c0c0ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px 0 2px;
  cursor: pointer;
  width: 2vw;
  border-radius: 2px;
  height: 5vh;
  color: #000000;
  font-size: large;
  font-weight: bold;
}

.num:hover{
    background-color: #4CAF50 ;
}
